@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
body {
  margin: 0px;
}
body header {
  width: 1260px;
  margin: auto;
}
body main {
  width: 1260px;
  margin: auto;
}
body a {
  text-decoration: none;
  color: initial;
}

body {
  font-family: "Raleway", sans-serif;
}

nav a:nth-last-child(1) {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

input, button {
  font-size: 1.1rem;
  font-weight: bold;
}

.btn {
  background-color: #FFFFFF;
  border: 2px solid #D1CFCF;
}
.btn--colored {
  background-color: #0065FC;
}
.btn:hover {
  background-color: #DEEBFF;
  color: #0065FC;
  border: 2px solid #0065FC;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
}
.container--horizontalsItems {
  flex-direction: row;
}
.container--verticalsItems {
  flex-direction: column;
}

.header__logo {
  margin-top: 9px;
}

.nav {
  height: 80px;
  justify-content: initial;
}
.nav a {
  padding: 35px 40px 5px 40px;
}
.nav a:nth-child(2), .nav a:nth-last-child(1) {
  padding-top: 40px;
}
.nav a:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
  background-color: #DEEBFF;
}
.nav a:nth-child(1) {
  border-top: 3px solid #0065FC;
}
.nav a:nth-child(1), .nav a:nth-last-child(1) {
  color: #0065FC;
}

.footer {
  background-color: #F2F2F2;
  height: 200px;
  margin-top: 55px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 25px 335px 0px 50px;
}
.footer a:hover {
  text-decoration: underline;
}

main i {
  color: #0065FC;
}

.section_one div.filtres, .section_one div.info {
  margin-left: 10px;
}

.heading h3 {
  margin-bottom: 8px;
}
.heading p {
  margin-top: 0px;
}

.research {
  width: 32%;
  height: 50px;
  justify-content: initial;
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.research input {
  width: 54%;
  padding-left: 10px;
  border: 1px solid #F2F2F2;
}
.research button {
  flex: 1;
  color: #FFFFFF;
  border: 1px solid #0065FC;
}
.research i {
  flex: 0;
  margin: auto;
  margin-left: 18px;
  margin-right: 18px;
  color: initial;
}

.research, .research button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.filtres {
  margin-top: 30px;
  height: 48px;
  width: 72%;
}
.filtres h4 {
  margin: auto;
}
.filtres button i {
  width: 48px;
  height: 34px;
  margin-top: -3px;
  margin-left: -8px;
  padding-top: 14px;
  background-color: #DEEBFF;
}
.filtres button:hover i {
  background-color: #FFFFFF;
  border: 1px solid #0065FC;
  height: 32px;
  margin-top: -3px;
}
.filtres button span {
  padding-left: 10px;
  padding-right: 10px;
}
.filtres button, .filtres i {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.info {
  margin-top: 30px;
}
.info i {
  width: 16px;
  height: 21px;
  padding-top: 5px;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #D1CFCF;
}
.info span {
  margin-left: 10px;
}

.section_two {
  margin-top: 30px;
  height: 700px;
}
.section_two > div {
  background-color: #F2F2F2;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.section_two > div:nth-child(1) {
  width: 63.5%;
}
.section_two > div:nth-child(2) {
  width: 34%;
}
.section_two a {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px #D1CFCF;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.section_two figcaption .icon--colorfulIcon {
  color: #D1CFCF;
}

.hostingBlock-std {
  width: 93.5%;
  margin: auto;
  margin-top: 30px;
  justify-content: initial;
}
.hostingBlock-std > div:nth-child(1) h3 {
  margin-top: 0px;
}
.hostingBlock-std > div:nth-child(3) {
  margin-top: 20px;
}
.hostingBlock-std > div:nth-last-child(1) {
  margin-top: 20px;
}
.hostingBlock-std > div:nth-last-child(1) h4 {
  margin-bottom: 0px;
}

.line-hostingCards-std a {
  width: 31.5%;
}
.line-hostingCards-std a figure {
  margin: auto;
  width: 96%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.line-hostingCards-std a figure img {
  width: 100%;
  height: 140px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.line-hostingCards-std a figure figcaption {
  padding-left: 8px;
  padding-right: 11px;
}
.line-hostingCards-std a figure figcaption h4 {
  margin-top: 5px;
}
.line-hostingCards-std a figure figcaption p {
  margin-top: -20px;
}
.line-hostingCards-std a figure figcaption div {
  margin-top: -10px;
}

.hostingBlock-pop {
  width: 88%;
  margin: auto;
  margin-top: 30px;
}
.hostingBlock-pop > div:nth-child(1) i {
  margin-left: 129px;
  color: initial;
}

.column-hostingCards-pop {
  height: 580px;
}
.column-hostingCards-pop a figure {
  margin: auto;
  width: 97.5%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.column-hostingCards-pop a figure img {
  width: 42%;
  height: 170px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
.column-hostingCards-pop a figure figcaption {
  width: 58%;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 20px;
}
.column-hostingCards-pop a figure figcaption h4 {
  margin-top: 5px;
}
.column-hostingCards-pop a figure figcaption p {
  margin-top: -20px;
}
.column-hostingCards-pop a figure figcaption div {
  margin-top: 70px;
}

.section_three {
  margin-top: 30px;
}

.activityBlockCards > div {
  width: 23.5%;
}
.activityBlockCards a figure {
  box-shadow: 0px 4px 10px #D1CFCF;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: auto;
}
.activityBlockCards a figure figcaption {
  height: 40px;
}
.activityBlockCards a figure figcaption h4 {
  margin: auto;
  margin-top: 12px;
  padding-left: 20px;
  padding-right: 34px;
}
.activityBlockCards img {
  margin: auto;
  width: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.activityBlockCards__largeCards img {
  height: 450px;
}
.activityBlockCards__mediumCard img {
  height: 220px;
}
.activityBlockCards__smallCards img {
  height: 184px;
}
.activityBlockCards__smallerCard img {
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
