body{
    margin:auto;
    max-width: 1440px;
    header, main{
        @include mainBlockPosition;
    }
    a{
        text-decoration: none;
        color: initial;
    }
    @include mobile-and-tablette{
        header, main{
            width: initial;
            margin: initial;
        }
    }
}
