body{
    margin: 0px;
    header{
        @include mainBlockPosition;
    }
    main{
        @include mainBlockPosition;
    }
    a{
        text-decoration: none;
        color: initial;
    }
    @include mobile-only{
        header{
            width: initial;
            margin: initial;
        }
        main{
            width: initial;
            margin: initial;
        }
    }
}
