main{
    i{
        color: $colorPrimary;
    }
}
.section_one{
    div.filtres, div.info{
        margin-left: 10px;
    }
}
.heading{
    h3{
        margin-bottom: 8px;
    }
    p{
        margin-top: 0px;
    }
}
.research{
    width: 32%;
    height: 50px;
    justify-content: initial;
    background-color: $colorSecondary;
    @include bdRadiusLeft;
    input{
        width: 54%;
        padding-left: 10px;
        border: 1px solid $colorSecondary;
    }
    button{
        flex: 1;
        color: $colorWhite;
        border: 1px solid $colorPrimary;
    }
    i{
        flex: 0;
        margin: auto;
        margin-left: 18px;
        margin-right: 18px;
        color: initial;        
    }
}
.research, .research button{
    @include bdRadiusRight;
}
.filtres{
    margin-top: 30px;
    height: 48px;
    width: 72%;
    h4{
        margin: auto;
    }
    button{
        i{
            width: 48px;
            height: 34px;
            margin-top: -3px;
            margin-left: -8px;
            padding-top: 14px;
            background-color: $colorTertiary;
        }
        &:hover{
            transform: scale(1.05);
            i{
                background-color: $colorWhite;
                border: 1px solid $colorPrimary;
                height: 32px;
                margin-top: -3px;
            }
        }
        span{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    button, i{
        @include bdRadiusLeft($radiusFiltres);
        @include bdRadiusRight($radiusFiltres);
    }

}
.info{
    margin-top: 30px;
    i{
        width: 16px;
        height: 21px;
        padding-top: 5px;
        padding-left: 10px;
        @include bdRadiusLeft;
        @include bdRadiusRight;
        border: 1px solid $colorQuaternary;
    }
    span{
        margin-left: 10px;
    }
}
.section_two{
    margin-top: 30px;
    height: 700px;
    > div{
        background-color: $colorSecondary;
        @include bdRadiusLeft($radiusFiltres);
        @include bdRadiusRight($radiusFiltres);
        &:nth-child(1){
            width: 63.5%;
        }
        &:nth-child(2){
            width: 34%;
        }
    }
    a{
        background-color: $colorWhite;
        box-shadow: $boxShadow;
        @include bdRadiusLeft;
        @include bdRadiusRight;
        &:hover{
            transform: scale(1.05);
        }
    }
    figcaption{
        .icon{
            &--colorfulIcon{
                color: $colorQuaternary;
            }
        }
    }
}
.hostingBlock-std{
    width: 93.5%;
    margin: auto;
    margin-top: 30px;
    justify-content: initial;
    > div:nth-child(1){
        h3{
            margin-top: 0px;
        }
    }
    > div:nth-child(3){
        margin-top: 20px;
    }
    > div:nth-last-child(1){
        margin-top: 20px;
        h4{
            margin-bottom: 0px;
        }
    }
}
.line-hostingCards-std{
    a{
        width: 31.5%;
        figure{
            margin: auto;
            width: 96%;
            margin-top: 5px;
            margin-bottom: 10px;
            img{
                width: 100%;
                height: 140px;
                @include bdRadiusTop;
            }
            figcaption{
                padding-left: 8px;
                padding-right: 11px;
                h4{
                    margin-top: 5px;
                }
                p{
                    margin-top: -20px;
                }
                div{
                    margin-top: -10px;
                }
            }
        }
    }
}
.hostingBlock-pop{
    width: 88%;
    margin: auto;
    margin-top: 30px;
    > div:nth-child(1){
        i{
            margin-left: 129px;
            color: initial;
        }
    }
}
.column-hostingCards-pop{
    height: 580px;
    a{
        figure{
            margin: auto;
            width: 97.5%;
            margin-top: 5px;
            margin-bottom: 5px;
            img{
                width: 42%;
                height: 170px;
                @include bdRadiusLeft($radiusImg);
            }
            figcaption{
                width: 58%;
                padding-top: 5px;
                padding-left: 15px;
                padding-right: 20px;
                h4{
                    margin-top: 5px;
                }
                p{
                    margin-top: -20px;
                }
                div{
                    margin-top: 70px;
                }
            }
        }
    }
}
.section_three{
    margin-top: 30px;
}
.activityBlockCards{
    > div{
        width: 23.5%;
    }
    a{
        figure{
            box-shadow: $boxShadow;
            @include bdRadiusLeft;
            @include bdRadiusRight;
            margin: auto;
            &:hover{
                transform: scale(1.05);
            }
            figcaption{
                height: 40px;
                h4{
                    margin: auto;
                    margin-top: 12px;
                    padding-left: 20px;
                    padding-right: 34px;
                }
            }
        }
    }
    img{
        margin: auto;
        width: 100%;
        @include bdRadiusTop;
    }
    &__largeCards{
        img{
            height: 450px;
        }
    }
    &__mediumCard{
        img{
            height: 220px;
        }
    }
    &__smallCards{
        img{
            height: 184px;
        }
    }
    &__smallerCard{
        img{
            height: 150px;
        }
    }
}

