main{
    i{
        color: $colorPrimary;
    }
    @include mobile-and-tablette{
        width: auto;
    }
}
.section_one{
    div.filtres, div.info{
        margin-left: 10px;
    }
    @include mobile-and-tablette{
        width: 93.5%;
        margin: auto;
        div.filtres, div.info{
            margin-left: initial;
        }
    }
}
.heading{
    @include flexbox(column);
    h3{
        margin-bottom: 8px;
    }
    p{
        margin-top: 0px;
    }
}
.research{
    @include flexbox(row);
    width: 32%;
    height: 50px;
    background-color: $colorSecondary;
    @include bdRadiusLeft;
    input{
        width: 54%;
        padding-left: 10px;
        border: 1px solid $colorSecondary;
    }
    button{
        flex: 1;
        color: $colorWhite;
        border: 1px solid $colorPrimary;
        i{
            display: none;
        }
    }
    i{
        flex: 0;
        margin: auto;
        margin-left: 18px;
        margin-right: 18px;
        color: initial;        
    }
    @include mobile-and-tablette{
        input{
            flex: 1;
        }
        button{
            flex: 0;
            margin-left: -10px;
            @include bdRadiusLeft;
            i{
                display: initial;
                color: $colorWhite;
            }
            span{
                display: none;
            }
            &:hover{
                i{
                    color: $colorPrimary        
                }
            }
        }
    }
    @include mobile-only{
        width: 100%;
    }
    @include tablette-only{
        width: 60%; 
    }
}
.research, .research button{
    @include bdRadiusRight;
}
.filtres{
    @include flexbox(row);
    justify-content: space-between;
    margin-top: 30px;
    height: 48px;
    width: 72%;
    >div{
        &:nth-child(2){
            width: 90%;
            @include flexbox(row);
            justify-content: space-between;
        }
    }
    h4{
        margin-top: 12.5px;
    }
    button{
        i{
            width: 50px;
            height: 30px;
            margin: -2px 0 -2px -8px;
            padding-top: 14px;
            background-color: $colorTertiary;
        }
        span{
            padding-left: 10px;
            padding-right: 10px;
        }
        &:hover{
            transform: scale(1.05);
            padding-bottom: 6px;
            i{
                height: 25px;
                margin: initial;
            }
        }
    }
    button, i{
        @include bdRadius($radiusFiltres);
    }
    @include mobile-and-tablette{
        height: auto;
        flex-wrap: wrap;
        width: 100%;
        >div{
            &:nth-child(2){
                flex-wrap: wrap;
                width: auto;
                button{
                    margin-right: 10px;
                }
            }
        }
    }
    @include mobile-only{
        button{
            margin-bottom: 10px;  
        }
    }
    @include tablette-only{
        button{
            margin-bottom: 20px;
        }
    }
    @include laptop-desktop{
        height: auto;
        >div{
            &:nth-child(2){
                flex-wrap: wrap;
                width: auto;
                button{
                    margin: 0 15px 25px 12px;
                }
            }
        }
    }
}
.info{
    @include flexbox(row);
    margin-top: 30px;
    i{
        width: 16px;
        height: 21px;
        padding-top: 5px;
        padding-left: 10px;
        @include bdRadius;
        border: 1px solid $colorQuaternary;
    }
    > div{
        &:nth-child(1){
            margin-right: 10px;
            margin-top: -5px;
        }
    }
}
.section_two{
    @include flexbox(row);
    justify-content: space-between;
    margin-top: 30px;
    height: 700px;
    > div{
        background-color: $colorSecondary;
        @include bdRadius($radiusFiltres);
        &:nth-child(1){
            width: 63%;
        }
        &:nth-child(2){
            width: 34%;
        }
    }
    a{
        background-color: $colorWhite;
        box-shadow: $boxShadow;
        @include bdRadius;
        &:hover{
            transform: scale(1.02);
        }
    }
    figcaption{
        .icon{
            &--colorfulIcon{
                color: $colorQuaternary;
            }
        }
    }
    @include mobile-and-tablette{
        flex-direction: column;
        width: auto;
        height: auto;
        > div{
            &:nth-child(1){
                order: 2;
                margin: auto;
                padding-bottom: 30px;
                background-color: initial;
            }
            &:nth-child(2){
                order: 1;
                width: auto;
                padding-bottom: 40px;
                border-radius: initial;
            }
        }
    }
    @include mobile-only{
        > div{
            &:nth-child(1){
                width: 90%;  
            }
        }
    }
    @include tablette-only{
        > div{
            &:nth-child(1){
                width: 100%;
            }
        }
    }
    @include laptop-desktop{
        flex-direction: column;
        height: auto;
        > div{
            &:nth-child(1){
                order: 2;
                padding-bottom: 35px;
            }
            &:nth-child(2){
                order: 1;
                padding-bottom: 45px;
                margin-bottom: 25px;
            }
            &:nth-child(1), &:nth-child(2){
                width: auto;
            }
        }
    }
}
.hostingBlock-std{
    @include flexbox(column);
    width: 93.5%;
    margin: auto;
    margin-top: 30px;
    > div:nth-child(1){
        h3{
            margin-top: 0px;
        }
    }
    > div:nth-child(3), div:nth-last-child(1){
        margin-top: 20px;
    }
    > div:nth-last-child(1){
        h4{
            margin-bottom: 0px;
        }
    }
    @include mobile-only{
        width: auto;
    }
}
.line-hostingCards-std{
    @include grid-layout;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    a{
        figure{
            margin: auto;
            width: 96%;
            margin-top: 5px;
            margin-bottom: 10px;
            .img-stdCards{
                width: 100%;
                height: 125px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include bdRadiusTop;
            }
            figcaption{
                padding-left: 8px;
                padding-right: 11px;
                h4{
                    margin-top: 5px;
                }
                p{
                    margin-top: -20px;
                }
                div{
                    margin-top: -10px;
                }
            }
        }
    }
    @include mobile-only{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
}
.hostingBlock-pop{
    width: 88%;
    margin: auto;
    margin-top: 30px;
    > div{
        &:nth-child(1){
            @include flexbox(row);
            margin-top: -25px;
            .icon-pop{
                margin: auto;
                margin-right: 0;
            }
            i{  
                color: initial;
            }
        }
    }
    @include mobile-only{
        width: auto;
        > div{
            &:nth-child(1){
                width: 90%;
                margin: auto;
                margin-top: -25px;
            }  
        }    
    }
    @include tablette-only{
        width: 94%;
    }
}
.column-hostingCards-pop{
    @include grid-layout;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    a{
        figure{
            margin: 5px;
            @include grid-layout;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            .img-popCards{
                height: 170px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include bdRadiusLeft($radiusImg);
            }
            figcaption{
                @include flexbox(column);
                justify-content: space-between;
                h4, p{
                    margin: 0;
                }
                p{
                    margin-top: 10px;
                }
            }
        }
    }
    @include mobile-only{
        a{
            width: 90%;
            margin: auto;
        }
    }
}
.section_three{
    @include flexbox(column);
    margin-top: 30px;
    @include mobile-and-tablette{
        margin: auto;
        height: auto; 
    }
    @include mobile-only{
        width: 90%;
    }
    @include tablette-only{
        width: 93.5%;
    }
}
.activityBlockCards{
    @include grid-layout;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    a{
        figure{
            box-shadow: $boxShadow;
            @include bdRadius;
            margin: auto;
            &:hover{
                transform: scale(1.02);
            }
            figcaption{
                height: 40px;
                h4{
                    margin: auto;
                    margin-top: 12px;
                    padding-left: 20px;
                }
            }
        }
    }
    img{
        margin: auto;
        width: 100%;
        object-fit: cover;
        @include bdRadiusTop;
    }
    &__largeCards{
        img{
            height: 450px;
            &:nth-child(2){
                display: none;
            }
        }
    }
    div{
        &:nth-child(2) , &:nth-child(4){
           @include flexbox(column);
           justify-content: space-between;
        }
    }
    &__mediumCard{
        img{
            height: 220px;
        }
    }
    &__smallCards{
        img{
            height: 184px;
        }
    }
    &__smallerCard{
        img{
            height: 150px;
        }
    }
    @include mobile-tablette-pc{
        @include grid-layout;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        &__largeCards{
            img{
                &:nth-child(1){
                    display: none;
                }
                &:nth-child(2){
                    display: initial;
                }
            }
        }
    }
    @include mobile-only{
        > div{
            width: auto;
            &:nth-child(2), &:nth-child(4){
                div{
                    &:nth-child(1){
                        padding-bottom: 20px;
                    }
                }
            }
        }
        img{
            height: 180px;
        }
    }
    @include tablette-pc{
        height: auto;
        > div{
            width: 100%;
            margin: auto;
            margin-bottom: 25px;
            &:nth-child(2), &:nth-child(4){
                flex-direction: row;
                div{
                    width: 48%;
                }
            }
        }
        img{
            height: 220px;
        }
    }
    @include laptop-desktop{
        img{
            height: 280px;
        }
    }
}
