@mixin mainBlockPosition {
    width: $mainWidth;
    margin: auto;
}

@mixin bdRadiusLeft($radiusItems: $radius) {
    border-top-left-radius: $radiusItems;
    border-bottom-left-radius: $radiusItems;
}
@mixin bdRadiusRight($radiusItems: $radius) {
    border-top-right-radius: $radiusItems;
    border-bottom-right-radius: $radiusItems;
}
@mixin bdRadiusTop{
    border-top-left-radius: $radiusImg;
    border-top-right-radius: $radiusImg;
}
@mixin bdRadius($radiusItems: $radius) {
    border-radius: $radiusItems;
}

@mixin mobile-only {
    @media screen and (max-width: 599px) {
        @content;
    }
}
@mixin tablette-only {
    @media screen and (min-width: 600px) and (max-width: 991px) {
        @content;
    }   
}
@mixin mobile-and-tablette {
    @media screen and (max-width: 991px) {
        @content;
    }
}
@mixin laptop-desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}