.header{
    &__logo{
        flex: 1;
        padding-top: 20px;
    }
    &__signUp{
        padding: 40px 40px 5px 40px;
        a{
            color: $colorPrimary;
        }
        &:hover{        
            border-top: 3px solid $colorPrimary;
            background-color: $colorTertiary;
        }
    }
    @include mobile-only{
        width: 100%;
        flex-wrap: wrap;
        &__logo{
            order: 1;
            padding-left: 20px;
        }
        &__signUp{
            order: 2;
            padding-right: 30px;
            &:hover{
                border-top: initial;
                background-color: initial;
            }
        }
    }
}